@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap');
:root {
--cor-primaria: #0B192C;
--cor-secundaria: #f6f6f6;
--cor-terciaria: #C62300;
--cor-hover: #272727;

--font-primaria: 'Krona One', serif;
--font-secundaria:'montserrat', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
body {

    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
        
}
.apresentacao {
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content:space-between;
    gap: 82px;   
}
.cabecalho {
    display: flex;
    padding: 2% 14%;   
    align-items: center;

}
.cabecalho_menu {
    display: flex;
    justify-content:space-between;
    gap: 80px;
    font-weight: 5px;
    align-items: center;

}
.cabecalho_menu_link:hover {
    color: var(--cor-secundaria)
    
} 
.cabecalho_menu_link {
    color: var(--cor-terciaria);
    font-family: var(--font-primaria);
    font-size: 1,5rem;
    font-weight: 60%;
    text-decoration: none;
    display: flex;
    padding: 1,5%;

}
.apresentacao-cont {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.apresentacao_redes {
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 3,125rem;
    color: var(--cor-secundaria);
    margin-bottom: 5px;
    padding-inline: 16px;
    padding: 10px;
    width: 50%;
    
    
}
.titulo_principal {
color: var(--cor-secundaria);
font-family: var(--font-primaria);
font-style: normal;

}
.cor-titulo {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria); 
    font-style: italic; 
    height: 50px; 
    
}
.titulo_sec {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria); 
    border-radius: 10px;
    
}
.cor_txt {     
    color: var(--cor-terciaria);
    font-size: 1,5rem;
}
.nome {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 1,25rem; 
    width: 50%;  
    
}
.link {
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 1,5rem;
    padding: 15px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria); 
    gap: 5px;  
    margin-bottom: 15px; 
    width: 50%;
    
}
.link:hover {
    background-color: var(--cor-terciaria)
}

.linha_links {
  align-items: center;
  padding-inline: 230px;
  padding: 24px;
 
}
.foto1 {
  width: 25%;
  border-radius: 6px;
  box-shadow: 2px 2px 10px; color:var(--cor-secundaria)
  
}
.fundo {
    color: #f6f6f6;
    background-color: var(--cor-terciaria);
    padding: 25px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-style: italic;
}
.sobre_mim {
    color: black;
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--cor-terciaria);
    font-style: italic;
    padding: 2px;
    font-size: 2,0%;
}
@media (max-width: 1200px) {

    .cabecalho_menu {
        flex-direction: row; 
    }
    .cabecalho_menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
    }
    .apresentacao-cont {
        width: auto;

    }
    .foto1 {
        width: 100%
    }
 
}